<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= food.foodItem %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <img src="<%= food.purchaseLink %>" alt="Food Item">
        <h1>
            <%= food.packageSize %> of <%= food.foodItem %>
        </h1>
        <% if (food.notes) { %>
            <p>Notes: <%= food.notes %></p>
        <% } %>
        <% if (food.purchaseLink) { %>
        <a href="<%= food.purchaseLink %>">Purchase Again</a>
    <% } %>

    <p>Storage Method: <%= food.storageMethod %></p>

    <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit">
        Update Food Item
    </a>

    <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE"
        method="POST">
        <button type="submit">Item Used Delete</button>
    </form>
</body>

</html>